09_MaiorDeDoisNumeros.py
10_CalculadoraDeSaldo.py
11_IntervaloNumerico.py
12_TrianguloValido.py
13_ClassificacaoDeAluno.py
14_AnoBissexto.py
15_AprovacaoPorNotaEFrequencia.py
16_TipoDeTriangulo.py
17_IndiceDeMassaCorporalImc.py
18_CalculadoraSimples.py
19_AumentoSalarialProgressivo.py
20_ODesafioDoJogoDeXadrez.py